body {
  background: #fafafa !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
}
.loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}
.go-home {
  width: 100px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  border-bottom-right-radius: 10px;
}
.share-movie {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}
.react-share__ShareButton:not(:last-child) {
  margin-right: 5px 
}
.btn-primary {
  background: #e78200 !important;
  border-color: #e78200 !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}
.top-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0;
  font-size: 35px;
  color: white;
}
.search-bar {
  border-radius: 10px;
  background: #374663;
  margin-top: -6%
}
.react-datepicker__tab-loop,
.react-datepicker-wrapper {
  width: 100% !important;
}
.movie-info {
  border-radius: 10px;
  background: #374663;
  margin-top: 15px;
  padding: 15px 0
}
.movie-info-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.shape {
  width: 100%;
  height: 290px;
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/classic-movies-kids-1584724104.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  top: 0
}
.shape:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  top: 0;
  left: 0;
}
.card-content {
  height: auto;
  width: 210px;
  margin: 0 auto;
  background: #fafafa !important;
}
.card-poster {
  height: 315px;
  width: 210px;
  border: 5px #e78200 solid;
  border-radius: 10px;
  position: relative;
}
.card-content:hover .card-overlay {
  visibility: visible;
  opacity: 1;
  filter: opacity(100)
}
.card-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  visibility: visible;
  opacity: 1;
  filter: opacity(0);
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s all;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
}
.card-overlay a {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%)
}
.card-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.movies-card .card-title {
  font-size: 16px;
}

.rc-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
}

.rc-pagination > li {
  display: inline;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  color:  #e78200;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: none !important;
}
.rc-pagination > li:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.rc-pagination > li:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.rc-pagination > li:hover,
.rc-pagination > li:focus {
  z-index: 2;
  color: #1b4060;
  background-color: #eeeeee;
  border-color: #ddd;
}
.rc-pagination > .rc-pagination-item-active,
.rc-pagination > .rc-pagination-item-active:hover,
.rc-pagination > .rc-pagination-item-active:focus {
  z-index: 3;
  background-color:  #e78200;
  border-color:  #e78200;
  cursor: default;
}
.rc-pagination > .rc-pagination-item-active a {
  color: white !important;
}

.rc-pagination-options {display: none !important;}

.movie-preview-title {
  font-size: 25px;
}

iframe {
  width: 100%;
  height: 400px;
}
.other-videos:not(:first-child) {
  margin-top: 15px;
}